{% extends 'base.html' %}

<!-- Tab title -->
{% block title %} Create or Update Category {% endblock %}

<!-- Data for the navbar -->
{% block navbar %}
	{% with header="Create or Update Post" back_btn_url="index" %}
		{% include 'navbar.html' %}
	{% endwith %}
{% endblock %}

<!-- Main Page Content -->
{% block content %}
	<form method="post">
		{% csrf_token %}
		<div class="form-group">
			{{form}}
		</div>
		<div class="text-center">
			<input class="btn btn-success mt-3" type="submit" value="Submit">
		</div>
	</form>
{% endblock %}