{% extends 'base.html' %}

<!-- Tab title -->
{% block title %} All Post Categories} {% endblock %}

<!-- Data for the navbar -->
{% block navbar %}
	{% with header="All Post Categories" back_btn_url="index" header_btn_text="New Category" header_btn_url="category-add" %}
		{% include 'navbar.html' %}
	{% endwith %}
{% endblock %}

<!-- Main Page Content -->
{% block content %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>Slug</th>
				<th>Label</th>
				<th>Number of Posts</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr scope="row">
					<td>{{category.id}}</td>
					<td>{{category.slug}}</td>
					<td>{{category.label}}</td>
					<td>
						<a href="{% url 'category-posts' category.slug %}">
							{{category.post_set.count}}
						</a>
					</td>
					<td>
						{% if user.is_authenticated %}
							<a class="btn btn-info" href="{% url 'category-update' category.id %}">Edit</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}