<footer class="page-footer font-small blue pt-4 mt-5 border-top">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-10 px-0 pr-3">
				<h5>CoolPress</h5>
				<p>
					This is a very fun project we did as a course in Harbour.Space university.<br/>
					We learned all about the Django framework and how to utilise its power!<br/>
					I also brushed up on my Bootstrap skills and understood testing better.
				</p>
			</div>

			<hr class="clearfix w-100 d-md-none pb-3">

			<div class="col-md-2 mb-md-0 mb-3 text-right">
				<h5 class="text-uppercase">Links</h5>

				<ul class="list-unstyled">
					<li>
						<a href="{% url 'about-page' %}">About</a>
					</li>
					<li>
						<a href="{% url 'default_api' %}" target="_BLANK">API</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center py-3">Copyright © {% now 'Y' %} | Valeri Sabev</div>
</footer>